
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MyLayout</title>
</head>
<body>

    <h2>THIS IS A SECRET LAYOUT THAT YOU CAN ONLY SEE 1/2 THE TIME. HOLY SHIT!</h2>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - WebApplication1</p>
        </footer>
    </div>


</body>
</html>
