@{
    ViewData["Title"] = "COOL PAGE";
}
@model RegisterViewModel


<br />
<form asp-controller="Demo" asp-action="RegisterInput" autocomplete="on" method="post">
    Email:  <input asp-for="Email" /> <br />
    <br />
    Password: <input asp-for="Password" />
    <br />
    <br />

    <button type="submit">Register</button>
</form>
<br />




<a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn">Learn More</a><br />
<br />
<br />
<br />
<a href="https://www.youtube.com/watch?v=Nsf5LgEsAGY">/////</a>