@model BaseProject.Models.Name
@{
    ViewData["Title"] = "COOL PAGE";
}
@*@model RegisterViewModel*@

<h2></h2>
<p>Use this area to provide additional information.</p>
@*<form asp-controller="Demo" asp-action="RegisterInput" autocomplete="on" method="post">
    Email:  <input asp-for="Email" /> <br />
    <br />
    Password: <input asp-for="Password" />
    <br />
    <br />
    <button type="submit">Register</button>
</form>*@

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <label asp-for="FirstName"></label>
    <input asp-for="@Model.FirstName" />
    <span asp-validation-for="FirstName"></span>
    <input asp-for="@Model.LastName" />
    <input type="submit" value="submit Me"/>
</form>