 <a href="https://www.facebook.com">
    <img border="0" alt="W3Schools" src="http://www.premierforkids.com/wp-content/uploads/2015/05/facebook-logo-png-transparent-background-150x150.png" width="100" height="100"></a>
 <a href="https://www.twitter.com">
    <img border="0" alt="W3Schools" src="https://media.glassdoor.com/sql/100569/twitter-squarelogo-1502093939446.png" width="100" height="100"></a>
