@model Spa2.Models.Appointment

@{
    ViewData["Title"] = "Create";
}

<h2>Create An Appointment</h2>

<h4>Appointments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Day" class="control-label">Day</label>
                <select asp-for="Day" class="form-control">
                    <option value="0">Sunday</option>
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                </select>
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hour" class="control-label">Time</label>
                <select asp-for="Hour" class="form-control">
                    <option value="9">9 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 PM</option>
                    <option value="1">1 PM</option>
                    <option value="2">2 PM</option>
                    <option value="3">3 PM</option>
                    <option value="4">4 PM</option>
                </select>
                <span asp-validation-for="Hour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Customer Name</label>
                <select asp-for="Name" class="form-control">
                    @foreach (Customer item in ViewData["NewCustomers"] as List<Customer>)
                    {
                        <option value="@item.CustomerName">@item.CustomerName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Provider" class="control-label">Service Provider</label>
                <select asp-for="Provider" class="form-control">
                    @foreach (ServiceProvider item in ViewData["NewServiceProviders"] as List<ServiceProvider>)
                    {
                        <option value="@item.FullName">@item.FullName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


